<!-- flask_data.html -->
<!DOCTYPE html>
<html>

<head>
    <title>My Data</title>
</head>

<body>
    <h1>Items</h1>
    <ul>
        {% for food_name, food_data in data.items %}
        <li>
            <strong>Name:</strong> {{ food_data.name }},
            <strong>Calories:</strong> {{ food_data.calories }},
            <strong>Carbohydrates:</strong> {{ food_data.carbohydrates }},
            <strong>Protein:</strong> {{ food_data.protein }},
            <strong>Total Fat:</strong> {{ food_data.total_fat }},
            <strong>Restaurant:</strong> {{ food_data.restaurant_name }}
        </li>
        {% endfor %}
    </ul>
</body>

</html>