<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grouped Results</title>
</head>
<body>
    <h1>Grouped Results</h1>
    <table border="1">
        <tr>
            <th>{{ group_by_field }}</th>
            <th>{{ aggregate_function|capfirst }} Calories</th>
            <th>{{ aggregate_function|capfirst }} Protein</th>
            <th>{{ aggregate_function|capfirst }} Carbohydrates</th>
            <th>{{ aggregate_function|capfirst }} Total Fat</th>
        </tr>
        {% for key, values in grouped_data.items %}
        <tr>
            <td>{{ key }}</td>
            <td>{{ values.calories }}</td>
            <td>{{ values.protein }}</td>
            <td>{{ values.carbohydrates }}</td>
            <td>{{ values.total_fat }}</td>
        </tr>
        {% endfor %}
    </table>
    <a href="{% url 'home' %}">Return to Home</a>
</body>
</html>